@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
  body{
    background-image: linear-gradient(to top, #9e1111, #1f0404);
  }
  
  #login{
    width: 80vw;
    height: 32%;

  }

  #imagem{
    float: left;
    width: 30%;
    height: 100%;
  }

  #formulario{
    float: right;
    width: 70%;

  }
}

@media screen and (min-width: 992px){
  body{
    background-image: linear-gradient(to top, #9e1111, #1f0404);
  }

  #login{
    width: 950px;
    height: 38%;
  }

  #imagem{
    float: right;
    width: 50%;
    height: 100%;
  }

  #formulario{
    float: left;
    width: 50%;

    h1{
      font-size: 1.2em;
    }

    p{
      font-size: .7em;
      margin: .4rem 0;
    }
  }
}